{% for block in section.blocks %}
    {% case block.type %}
        {% when "announcement" %}
            <div class="announcement-bar">
                <a class="link">
                    <p class="message mb-0">
                        {{ block.settings.announcement-bar }}
                    </p>
                </a>
            </div>
    {% endcase %}
{%endfor%}

{% schema %}
{
   "name": "Announcement Bar",
   "max_blocks": 12,
   "blocks": [
        {
            "type": "announcement",
            "name": "Announcement Bar",
            "settings": [
                {
                   "type": "text",
                   "id": "announcement-bar",
                   "label": "Announcement Text",
                   "default": "Free Shipping"
                }
            ]
        }
   ],
  "default": {
    "blocks": [
        {
            "type": "announcement"
        }
    ]
  }
}
{% endschema %}