<div class="announcement-bar">
    <a class="link">
        <p class="message">
            Free Sell
        </p>
    </a>
</div>

{% schema %}
{
   "name": "Announcement Bar",
   "max_blocks": 12,
   "blocks": [
        {
            "type": "announcement",
            "name": "Announcement Bar",
            "setting": []
        }
   ]

}
{% endschema %}