<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="contact-form col-md-6 ">
                <form id="contact-form" method="post" action="" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Message" class="form-control" name="message"
                            id="message"></textarea>
                    </div>

                    <div>
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                    </div>
                </form>
            </div>

            <div class="contact-details col-md-6 ">
                <ul class="contact-short-info list-unstyled">
                    {% if settings.address != blank %}
                        <li>
                            <i class="fa fa-home"></i>
                            <span>{{ settings.address }}</span>
                        </li>
                    {% endif %}

                    {% if settings.mobile_number != blank %}
                        <li>
                            <i class="fa fa-mobile"></i>
                            <span>Phone: {{ settings.mobile_number }}</span>
                        </li>
                    {% endif %}

                    {% if settings.email != blank %}
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email: {{ settings.email }}</span>
                        </li>
                    {% endif %}
                </ul>
                <div class="social-icon">
                    <ul>
                        <li><a class="fb-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>