<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="fa fa-phone"></i>
                    <span>{{ shop.phone }}</span>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center h3">
                    <a href="index.html">
                        <!-- replace logo here -->
                        {{ shop.name }}
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <ul class="top-menu list-inline float-right">
                    <li class="list-inline-item">
                        <a href="cart.html">
                            <i class="fa fa-shopping-cart"></i>Cart</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="login.html">
                            <i class="fa fa-sign-in"></i>Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>